<!DOCTYPE html>
<html>
<head>
	<title>contact</title>
	<link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
	
</head>

<body>
	<div class="navbar">
		<a href="/">Inicio</a>
		<a href="/about">Acerca de</a>
		<a href="/contact">Contacto</a>
		<a href="/blog">Blog</a>
	</div>

	<h1>Blog</h1>
	
	<div>
		<h2> Procesos en cadena con Python </h2>
		
		<p>En este blog se describe como hacer un simple proceso en cadena con datos de satélite a partir
		una área de interés que puede tener apliaciones en agricultura y conservación del medio natural</p>
		
		<img src="https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/thumbnails/image/2016%20Sentinel%202%20image%20NDVI%20in%20Alberta.jpg" width="800" height="400">
	</div>
	
</body>
</html>
